body {
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
    margin: 0;

}


.header {
    background-color: #1f2937;
    color: #f9f8fa;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.25% 12%;
    

}
header {
    font-size: 24px;
    color: #f9f8fa;
    font-weight: 900;
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 16px;
    
    
}
.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    width: min-content;
    height: 200px;
    border: #060606;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    flex: 1 0 0;
    min-width: 0;
    }

ul{
    list-style : none;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.content-top {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6em 11em;
    gap: 8em;
      
}


.content-top h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9f8fa;
    text-align: left;
}


button { 
    border-radius: 15px;
    padding: 0.5em 2em;
    background-color: #3882f6;
    color: #f9f8fa;
    border: #e5e7eb;
    border-width: 3px;
    border-style: none;
    font-weight: bold;
    font-size: 18px;
    margin: 1em;
}


.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex: 1;


}
.left h1, p {
    margin: 0;
}

.right {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex: 1;
    
}
------------------------


.content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.content-bottom h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: 50px;
}



.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 4%;
    margin: 2em 4em;

}

.square1 {
   padding: 2px;
   width: min-content;
   margin-bottom: 4em;

}

.squares {
    border-radius: 15px;  
    border-color: #3882f6; 
    border-width: 4px;
    padding: 5em;
    border-style: solid;

}

.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 4em 20em;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.5;
    
}

.thor {
   display: flex;
   justify-content: flex-end;
  align-self: flex-end;
  font-size: 24px;
  font-weight: 900;
}

.Call-to-action {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 12px;
    color: #e5e7eb;
    margin: 8% 15%;
    padding: 2em 6em;
    gap: 12em;
   
}


.cta-text h1 {
    color: #e5e7eb;
    text-align: left;
    font-size: 24px;

}

.cta-text h1, p {
    margin: 0;
}
 
.Two{ 
        border-radius: 15px;
        padding: 0.5em 2em;
        background-color: #3882f6;
        color: #f9f8fa;
        border: #e5e7eb;
        border-width: 3px;
        border-style: solid;
        font-weight: bold;
        font-size: 18px;
        margin: 1em;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 24px;
    font-size: 18px;
}

